.LogansImage, .summerJam, .nec, .tfc{
	height: 75%;
	width: 75%;
	-webkit-transition: width .25s, height .25s;
	transition: width .25s, height .25s;
	border-radius: 10%;
	position: static;
}
.summerJam:hover, .nec:hover , .tfc:hover{
	height: 360px;
	width: 480px;
	z-index: 1;
	position: absolute;
	border-radius: 10%;
	margin-left: 25%;
}