.LogansImage {
	height: 75%; 
	width: 75%;
	padding-left: 10%;
	border-radius: 10%;
}
.summerJam {
	height: 75%;
	width: 75%;
	border-radius: 10%;
}
.nec {
	height: 75%;
	width: 75%;
	border-radius: 10%;
}