* {
font-family: 'Josefin Sans', sans-serif;
}
#Main {
	/*background-color: black;*/
	background-image: url("/static/images/League image.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 240px;
	width: 480px;
}
.navbar-brand a:hover {
	color: black;
}
.navbar {
	border-style: none;
	/*border-bottom-style: thin;*/
	background-color: white;
	color: black;
}
li {
	color: black;
}
.div_title {
	display: inline-block;
	width: 100%;
	border-bottom-style: solid;
}
.banner_image {
	height: 24px;
	width: 24px;
	border-radius: 15%;
	padding-left: 1px;
	padding-right: 1px;
}
.row {
	overflow: hidden;
}
.infill {
	background-size: contain;
	height: 180px;
	width: 360px;
	padding-right: 17px;
	/*padding-top: 17px;*/
	overflow-y: auto;
}
.infill::-webkit-scrollbar {
	width: 2px;
}
.event_image {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: 10%;
}
.post_background {
	/*Temporary image overlayer*/
	background-image: url('/static/images/night_club.jpg');
	position: relative;
	height: 64px;
	width: 50%;
}
#post_link {
	position: absolute; 
	background-color: black; 
	opacity: .5;
	bottom: 0; 
	left: 0; 
	width: 100%; 
}
#HitPoint {
}