.navbar-collapse{
	/*background-image: url("/static/images/ChiStrikePoster.jpg");
	background-repeat: no-repeat;
	background-size: cover;*/
	font-family: Impact;
	font-style: italic;
	letter-spacing: .25px;
}
.navbar-collapse {
}
.navbar-nav a{
	color: red;
}
.page-header {
	text-align: center;
}

.social_media_bar {
	position: fixed;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background-color: black;
}
.social_media_bar p {
	color: white;
}

.dropdown-toggle a{
	color: black;
}

.img-circle {
	border-radius: 50%;
	/*height: 50%;*/
	width: 30px;
}

.blogposts {
	box-shadow: 0px 10px 40px rgba(1,0,0,.1);
}