* {
font-family: 'Josefin Sans', sans-serif;
}
#Main {
	height: 256px;
	padding-left: 5%;
	width: 100%;
	/*overflow: hidden;*/
}
#bottomBar {
	background-color: black;
	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 0;
	width: 100%
}
.navbar {
	border-style: none;
	background-color: black;
	color: black;
	text-transform: none;
}
li {
	color: black;
}

.div_title {
	display: inline-block;
	width: 100%;
	border-bottom-style: solid;
}
.banner_image {
	height: 24px;
	width: 24px;
	border-radius: 15%;
	padding-left: 1px;
	padding-right: 1px;
}
.infill {
	background-size: contain;
	height: 180px;
	width: 360px;
	padding-right: 17px;
	overflow-y: auto;
}
.infill:-webkit-scrollbar {
	width: 2px;
}
.post_background {
	background-size: cover;
	position: relative;
	height: 64px;
	width: 50%;
}
.post_link {
	position: absolute;
	background-color: black;
	opacity: .5;
	bottom: 0;
	right: 5;
	width: 80%;
}
.post_link:hover {
	color: gold;
	text-decoration: none;
}
.post_link:visited {
	text-decoration: line-through;
}
.Scroller::-webkit-scrollbar {
	display: none;
}
#linkHolder {
	height: 192.5px;
	overflow-y:auto;
}
.author_image {
	height: 64px;
	width: 64px;
	border-radius: 50%;
}
.author_image {
	height: 24px;
	width: 24px;
	border-radius: 50%;
}
.post_tile {
	font-family: Impact;
	font-size: 24px;
	/*box-shadow: 0px 2px grey;*/
}
.BlogHolder {
	height: 180px;
	overflow-y: auto;
}
/*Below contains the bounce event for images.
For some odd reason, code inserted afterwards isn't executed.*/
.event {
	background-size: contain;
	position: relative;
	padding-left: 10%;
	bottom: 0;
	height: 48px;
	width: 48px;
	overflow-y: auto;
	border-radius: 100%;
}
.event:hover {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	z-index: 2;
	perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }