{% extends "base_template.html" %}

{% block content %}
{% if data %}
	<div class="container">
		<h2>{{data}}</h2>
	</div>
{% endif %}
<div class="container" align="center">
	<div class="row">
		<div class="col-xs-12">This can serve as a banner/main article page</div>
	</div>
</div>
<br>
<div class="container" align="center">
	<div class="row">
		<div class="col-xs-6">Here's some blog content.
		How many lines can it take?</div>
		<div class="col-xs-6">Here also is some blog content. Well, that's interesting. It seems very lorem like</div>
	</div>
</div>
<br>
<div class="container" align="center">
	<div class="row">
		<div class="col-xs-6">Here's some blog content.
		How many lines can it take?</div>
		<div class="col-xs-6">Here also is some blog content. Well, that's interesting. It seems very lorem like</div>
	</div>
</div>

{% endblock %}