{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_template.html" %}

{% block content %}
<body class="main">
<div class="container row">
	<!-- Image links(?) -->
	<div class="col-xs-2">
		<a target="_" href="https://www.facebook.com/LoganHardwareArcade/?fref=ts"><img 
			class="LogansImage" id="LogansImage"
			onmouseover="zoomImage('LogansImage')"
			onmouseleave="reduceImage('LogansImage')" 
			src="static/images/LoganArcade.png"/>
		</a>
		<br><br>
		<a target="_" href="https://www.facebook.com/events/1577090665943008/">
			<img 
				id="summerJam" class="summerJam" 
				onmouseover="zoomImage('summerJam')"
				onmouseleave="reduceImage('summerJam')" 
				src="static/images/events/summerJam.jpg"/>
		</a>
		<br><br>
		<a target="_" href="https://www.facebook.com/Thisis3rdStrike/photos/gm.157089474724514/1286095068128863/?type=3&theater">
			<img 
				id="nec" class="nec" 
				onmouseover="zoomImage('nec')"
				onmouseleave="reduceImage('nec')" 
				src="static/images/events/nec.jpg"/>
		</a>
		<br><br>
	</div>
	<!-- Title -->
	<div class="col-xs-10">
		<div class="container">
			<div class="page-header">
				<h1 style="font-family: Impact;">Mahalo</h1>
			</div>	
		</div>
		<!-- Video -->
		<div class="container">
			<div class="col-xs-8" id="chiBanner">
				<iframe id="video" src="https://player.twitch.tv/?channel=drpancakejdmba"frameborder="0" scrolling="no" height="360px" width="100%"></iframe>
			</div>
			<!-- Chat -->
			<div class="col-xs-4">
				<iframe id="vidChat" frameborder="0" scrolling="no" src="http://twitch.tv/drpancakejdmba/chat?popout=" height="360px" width="100%">
			    </iframe>
			</div>
		</div>
	<br><br><br>
		<div class="container">
		<!-- Links -->
			<div class="btn-group col-xs-8" id="linkHolder"></div>
			<!-- Other -->
			<div class="col-xs-4">
				<span style="font-family: Impact; font-size:24px;">Status Codes:</span>
				<span style="color: red; font-family: Impact; font-size:24px;">Online</span>
				<br>
				<a class="btn" href="https://docs.google.com/forms/d/1RA6xPIs6Uw-0MqSyzQ7el_oBSZ0Ypz9uXxc-HPp7Pwk/viewform">Feedback</a>
			</div>
		</div>
	</div>
	</div>
</body>
<script type="text/javascript">
	var twitchUrl = "https://api.twitch.tv/kraken/streams/";
	var twitchEnd = "?callback=?";
	var channels = [];
	var cleanName = [];
	var chats = [];
	var links = [];
	{% for stream in streams %}
	   channels.push("{{ stream.channelName }}");
	   cleanName.push("{{ stream.cleanName }}" );
	   chats.push("{{ stream.chats }}");
	   links.push("{{ stream.link }}");
	{% endfor %}
</script>
<script type="text/javascript" src="static/jsUtils/loadStreams.js">
</script>
<script type="text/javascript">
	function zoomImage(img) {
		var image = document.getElementById(img);
		image.style.height = "360px"
		image.style.width = "480px";
		image.style.position = "relative";
		image.style.left = "0px";
		image.style.top = "0px";
		image.style.zIndex = "1";
		image.style.paddingLeft = "5px";
	}
	function reduceImage(img) {
		var image = document.getElementById(img);
		image.style.height = "75%";
		image.style.width = "75%"
		// image.style.position = "relative";
		image.style.zIndex = "0";
	}
</script>
{% endblock %}