{% extends "base_template.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">
	{% block change_message %}
	{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert"> &times;</button> 
				{{message}}
			</div>
		{% endfor %}
	{% endblock %}
	<div class="page-header">
		{% if username and username != None %}
			<h1>Welcome to 3rd Strike, {{username}}.</h1>
			<h2>Still playing {% if character %}{{character}}{% else %}3rd Strike{% endif %}?</h2>
		{% else %}
			<h1>Welcome to 3rd Strike</h1>
		{% endif %}
	</div>	
</div>
{% if form %}
	<div class="container">
		<form action="/" method="POST">
			{{ wtf.quick_form(form) }}
		</form>
	 </div>
{% else %}
	<div class="container">
		<h2>Blog posts</h2>
		{% if results %}
			<div class="row">
				<div class="col-xs-6">
					<ul style="list-style-type: none;"">
						<h4>Here's some people that compete near you</h4><hr>
						{% for res in results.items %}
							{% if res.userName != username %}
								<li>{{ res.userName }}: {{res.city}}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="col-xs-6">
					<ul style="list-style-type: none;"">
						<h4>Here's some places to compete nearby</h4><hr>
						<p><strong>Construction note: This currently returns the same thing as usernames nearby. <br>
						I want it to return local arcades instead.</strong></p>
						{% for res in results.items %}
							{% if res.userName != username %}
								<li>{{ res.userName }}, {{res.city}}</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
{% endif %}

{% endblock %}