{% extends "main_template.html" %}
{% block content %}
<div class="container" id="Main">
	<div class="row">
		<div class="container col-xs-8" id="chiBanner">
			<iframe id="video" src="https://player.twitch.tv/?channel=drpancakejdmba"frameborder="0" scrolling="yes" height="256px" width="100%"></iframe>
		</div>
		<div class="container col-xs-4" id="btn-group">
			<!-- Social Media Bar -->
			<div>
				<a href="https://www.facebook.com/groups/thirdstrikejunkies/" target="_"><img class="banner_image" src="static/images/fb-logo.png"/></a>
				<a href="" target="_"><img class="banner_image" src="static/images/twitter-logo.png"/></a>
				<a href="" target="_"><img class="banner_image" src="static/images/YouTube-social-square_dark_24px.png"></a>
				<strong><span >Status:</span>
				<span style="color: red">Online</span></strong>
			</div>
			<hr>
			<!-- Link holder -->
			<div id="linkHolder"></div>
		</div>
	</div>
</div>
<!-- First Row -->
<div class="container" style="height:480px;">
	<div class="row">
		<!-- 3rd Strike news -->
		<div class="col-xs-6">
			<h3 class="div_title">News</h3>
			<div id="news" class="row">
				<!-- News articles -->
				{% if news_articles %}
					{% for news in news_articles %}
						<div class="col-xs-6 post_background" style="background-image: url('{{ news.image_link }}');">
							<a class="post_link" href="/news/{{ news.title }}">{{ news.title }}</a>
						</div>
					{% endfor %}
				{% else %}
					<div>
						No news :(
					</div>
				{% endif %}
			</div>
		</div>
		<div class="col-xs-6">
			<h3 class="div_title">Columns</h3>
			<a href="/allBlogs">Search blogs</a>
			<!-- Columnist/Non-news articles -->
			<div class="row">
				{% for blog in blog_posts %}
				<div id="news" class="col-xs-6 post_background" style="background-image: url('{{ blog.image_link }}');">
					<a class="post_link" href="/news/{{ blog.title }}">{{ blog.title }}</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Second Row -->
<div class="container">
	<div class="row">
		<div class="col-xs-6"><h3 class="div_title">Events</h3>
			<!-- Event image container -->
			<div class="row">
				<!-- Iterate through event object -->
				{% for event in events %}
					<a class="event" href="{{ event.url }}" target="_">
						<div class="col-xs-6 event" style="background-image: url('{{ event.image_url }}');"></div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-6">
		<!-- Searchable ratings are a good addition. -->
			{% if start %}
				<h3 class="div_title"><strong>Leaderboard</strong>: {{ start }} - {{ end }}</h3>
				<a href="/rankings">Search Rankings</a>
			{% else %}
				<h3 class="div_title"><strong>Leaderboard</strong></h3>
				<a href="/rankings">Search Rankings</a>
			{% endif %}
			<div align="center" class="Scroller" style="border-style: solid; height: 240px; overflow-y: auto; overflow-x: auto;">
				<div class="row">
				<!-- Iteration through league -->
				{% for league in league_data.keys() %}
					<div class="col-xs-12">
						{% if league %}
							<h3 style="text-decoration: underline;"><strong>{{ league }} </strong></h3>
						{% else %}
							<h3 style="text-decoration: underline;"><strong>Overall</strong></h3>
						{% endif %}
					<table border="1">
						<tr align="center">
							<td><strong>Player</strong></td>
							<td><strong>Elo Rating</strong></td>
							<td><strong>Wins</strong></td>
							<td><strong>Losses</strong></td>
						</tr>
					 {% for plr in league_data[league]["players"]%}
					 	<!-- Elo Rating - Wins - Losses -->
					 	<tr align="center">
						 	<td>{{ plr }}</td>
						 	<td>{{ league_data[league]["eloScore"][loop.index0] }}</td>
						 	<td>{{ league_data[league]["wins"][loop.index0] }}</td>
						 	<td>{{ league_data[league]["losses"][loop.index0] }}</td>
						</tr>
					{% endfor %}
					</table>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>		
	</div>
</div>
<!-- Third Row -->
<div class="container">
<h3 class="div_title">Vids and Other Supa Hot Fire</h3>
	<div class="container Scroller" style="height: 180px; overflow-x: auto; border-style: solid;">
		<div style="width: 500%; overflow-x: auto;">
			{% for vid in vids %}
			<span>{{ vid.iframe|safe }}</span>
			{% endfor %}
		</div>
	</div>
</div>
<br><br><br>
<!-- Bottom Container -->
<div class="container" id="bottomBar">
	<h4>Nobody online? Here's some tunes</h4>
</div>
<script type="text/javascript">
	var twitchUrl = "https://api.twitch.tv/kraken/streams/";
	var twitchEnd = "?callback=?";
	var channels = [];
	var cleanName = [];
	var chats = [];
	var links = [];
	{% for stream in streams %}
	   channels.push("{{ stream.channelName }}");
	   cleanName.push("{{ stream.cleanName }}" );
	   chats.push("{{ stream.chats }}");
	   links.push("{{ stream.link }}");
	{% endfor %}
</script>
<script type="text/javascript" src="/static/jsUtils/loadStreams.js"></script>
{% endblock %}