{% extends "main_template.html" %}
{% block content %}
<div class="container" id="Main">
	<div class="row">
		<div class="col-xs-8" id="chiBanner">
			<iframe id="video" src="https://player.twitch.tv/?channel=drpancakejdmba"frameborder="0" scrolling="yes" height="256px" width="100%"></iframe>
		</div>
		<div class="container col-xs-4" id="btn-group">
			<!-- Social Media Bar -->
			<div>
				<a href="https://www.facebook.com/groups/thirdstrikejunkies/" target="_"><img class="banner_image" src="static/images/fb-logo.png"/></a>
				<a href="" target="_"><img class="banner_image" src="static/images/twitter-logo.png"/></a>
				<a href="" target="_"><img class="banner_image" src="static/images/YouTube-social-square_dark_24px.png"></a>
				<strong><span >Status:</span>
				<span style="color: red">Online</span></strong>
			</div>
			<hr>
			<!-- Link holder -->
			<div id="linkHolder"></div>
		</div>
	</div>
</div>
<!-- First Row -->
<div class="container" style="height:480px;">
	<div class="row">
		<h3 class="div_title">News</h3>
		<div class="col-xs-6">
				<div id="news" class="row">
					<!-- News articles -->
					{% for post in posts %}
						<div class="col-xs-6 post_background" style="background-image: url('{{ post.image_link }}');">
							<a class="post_link" href="/news/{{ post.title }}">{{ post.title[:20] }}...</a>
						</div>
					{% endfor %}
				</div>
		</div>
		<div class="col-xs-6">
			<h3 class="div_title">Columnists</h3>
				<div class="row">
					<div id="post" class="col-xs-6">
						<p>What Happened in 3s</p>
					</div>
					<div id="post" class="col-xs-6">
						<p>What Happened in 3s</p>
					</div>
				</div>
		</div>
	</div>
</div>
<!-- Second Row -->
<div class="container">
	<div class="row">
		<div class="col-xs-6"><h3 class="div_title">Events</h3>
			<!-- Event image container -->
			<div class="row">
				{% for event in events %}
					<a href="{{ event.url }}" target="_"><div class="col-xs-6 event" style="background-image: url('{{ event.image_url }}');">
					</div></a>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-6">
			<h3 class="div_title">Results - <a href=""><span>Event Search</span></a></h3>

			<div class="infill">
				<div class="row">
					<div class="col-xs-6">
						<p>Inner stuff</p>
					</div>
					<div class="col-xs-6">
						<p>Other stuff</p>
					</div>
				</div>
			</div>
		</div>		
	</div>
</div>
<!-- Third Row -->
<div class="container" style="height: 360px;">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="div_title">Vids and Other Supa Hot Fire</h3>
			<div class="row">
				<div class="col-xs-12"><h2>Video Scroller</h2></div>
			</div>
		</div>
</div>
<!-- Bottom Container -->
<div class="container" id="bottomBar">
	<h4>Nobody online? Here's some tunes</h4>
</div>
<script type="text/javascript">
	var twitchUrl = "https://api.twitch.tv/kraken/streams/";
	var twitchEnd = "?callback=?";
	var channels = [];
	var cleanName = [];
	var chats = [];
	var links = [];
	{% for stream in streams %}
	   channels.push("{{ stream.channelName }}");
	   cleanName.push("{{ stream.cleanName }}" );
	   chats.push("{{ stream.chats }}");
	   links.push("{{ stream.link }}");
	{% endfor %}
</script>
<script type="text/javascript" src="static/jsUtils/loadStreams.js"></script>
{% endblock %}