{% extends "base_template.html" %}
{% block title %}Rankings{% endblock %}
{% block content %}
<div class="container">
	<div class="page-header">
		{% if username %}
			<h1>Check your rankings among some of the best</h1>
		{% else %}
			<h1>Leaderboard</h1>
		{% endif %}
	</div>
</div>
{% if region == "Chicago" %}
<div class="container">
	<ol>
		<h3><strong>{{region}}</strong></h3>
		<hr>
		<li>Quentin</li>
		<li>Adam</li>
		<li>Kerry</li>
	</ol>
</div>
{% elif region %}
	<ol>
		<h3><strong>{{region}}</strong></h3>
		<hr>
		<li>Arbitrary Leaderboard</li>
	</ol>
{% else %}
	<h4>This is where the rankings will go</h4>
{% endif %}
{% endblock %}