{% import "bootstrap/wtf.html" as wtf %}
{% extends "base_template.html" %}
{% block content %}

<div class="container" id="mapid">
</div>
<br>
{% if form %}
	<div class="container" style="border: 1px solid;">
		<h2 align="center">Sign-Up!</h2>
		<hr>
		<form action="/login" method="POST">
			{{ wtf.quick_form(form) }}
		</form>
	 </div>
{% endif %}
<style type="text/css">
	#mapid {
		height: 360px;
	}
</style>
<script type="text/javascript" src="/static/jsUtils/loadMap.js"></script>
<script type="text/javascript">
	registrationMap = loadMap();

	// Generate map markers
	{% for key in jinjaLocData %}
		var name = "<div><strong>{{key.Name}}</strong>";
		name += "<br>{{key.Address}}<br>{{key.City}}, {{key.State}}</div>";
		var x = {{key.Lat}};
		var y = {{key.Lon}};
		var marker = L.marker([x,y], {icon: Icon}).addTo(registrationMap);
		marker.bindPopup(name);
	{% endfor %}
	
	</script>
{% endblock %}